<div class="container">
  <form class="form">
    <input
      type="text"
      placeholder="Login"
      class="input"
      [(ngModel)]="login"
      name="login"
      class="form__input"
    />
    <input
      type="text"
      placeholder="Password"
      class="input"
      [(ngModel)]="password"
      name="password"
      class="form__input"
    />
    <div class="form__buttons">
      <button (click)="loginUser()" class="form__button">Log In</button>
      <button (click)="signUpUser()" class="form__button">Sign Up</button>
    </div>
  </form>
</div>
