.container {
  height: 100%;
}

.title {
  text-align: center;
}

.form {
  width: 400px;
  height: 200px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;

  &__datepicker {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__date {
    height: 20px;
    border: none;
    box-shadow: 0 0 10px 2px rgb(252, 186, 6);
    border-radius: 15px;
    text-align: center;
    font-size: 16px;

    &:focus {
      outline: none;
      box-shadow: 0 0 10px 2px rgb(6, 22, 252);
    }
  }

  &__taskTitle {
    width: 80%;
    height: 30px;
    border: none;
    box-shadow: 0 0 10px 2px rgb(252, 186, 6);
    border-radius: 15px;
    text-align: center;
    font-size: 24px;

    &:focus {
      outline: none;
      box-shadow: 0 0 10px 2px rgb(6, 22, 252);
    }
  }

  &__button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(252, 186, 6);
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
      background-color: rgb(6, 22, 252);
    }
  }
}
