.search-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.tasks-container {
  display: flex;
  justify-content: center;
}

.filters {
  width: 30%;
}

.list {
  width: 50%;
}

.save-button {
  padding: 10px;
}
